<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title  th:utext="${title}"></title>
</head>
<body>
<th:block th:include="/home"></th:block>
<h2>Login Form</h2>
<!-- <div th:if="${errorMessage!=null}" th:utext="${errorMessage}" class="error">..</div>
 --><form action="@{/login}" th:object="${LoginForm}" method="POST"></form>
<table>
<tr><td>UserName</td>
    <td><input type="text" th:field="${userName}"/></td>
<!--      <td><span th:if="${#fields.hasErrors('userName')}" th:errors="{userName}"></span></td></tr>
 --><tr> <td>Password</td>
     <td><input type="password" th:field="*{password}" /> </td>
<!--     <td>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </td>
 --></tr>
 <tr>
  <td>&nbsp;</td>
   <td>
     <input type="submit" value="Login" />
      <a th:href="@{/}">Cancel</a>            
   </td>
  <td>&nbsp;</td>
</tr>
</table>
</body>
</html>